@media screen and (max-width: 767px) {
  body {
    width: 100%;
    min-width: 0;
    font-size: 17px;
    line-height: 40px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: normal;
    color: #271f1a;
    background-color: #b4e0e79f;
  }

  textarea {
    resize: none;
    height: 150px;
  }

  .form-validate__form {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
    height: 30%;
  }
}
