body {
  min-width: 100%;
  font-size: 18px;
  line-height: 30px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: normal;
  color: #271f1a;
  background-color: #b4e0e79f;
}

textarea {
  resize: none;
  height: 150px;
}

.string {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

.big_string {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.text {
  margin: 0;
}

.big_text_p {
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
}

h1 {
  text-align: center;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}

.header {
  font-size: 30px;
  margin: 0;
}

.form-validate__form {
  width: 360px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.form__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 20px;
  width: 360px;
  margin: 0 auto;
}

.form__button_bottom_submit {
  text-align: center;
}

.form__button_bottom_reset {
  text-align: center;
}

input[type="submit"],
input[type="reset"] {
  display: inline-block;
  margin: 0 5px;
  padding: 6px 15px;
  color: #ffffff;
  background-color: #2c3e50;
  border: none;
}

.error {
  font-size: 12px;
  line-height: 30px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
}

.form__towers{
 width: 30%;
}

.form__floors{
  width: 30%;
 }

 .form__rooms{
  width: 30%;
 }

 .form__data{
  width: 40%;
 }

 .form__time{
  width: 40%;
 }
